<!doctype  html />
<html>
    <title>{{title}}</title>

    <header>
            <nav>
                <a href="/">Home</a>
                <a href="/blog">All Posts</a>
                <a href="/newpost">Add a Blog Entry</a>
                <a href="/logout">Logout</a>
                <a href="/login">Login</a>
            
            </nav>       
            <br>
            <br>
            <br>
            <br>
          
        
    </header>
<body>
        {% block content %}
        {% endblock %}
    
</body>  
</html>